<div class="flex items-stretch justify-between font-sans tracking-widest navBar">
    <div class="flex-1 space-x-10 ">
        <h2 class="text-2xl  font-semibold leading-7 text-gray-900 sm:text-3xl sm:truncate">
            María José Méndez
        </h2>
    </div>
    <div class="flex-auto pl-9 space-x-10 text-yellow-500 text-lg font-medium">
        <a class="hover:text-yellow-900 active:text-yellow-900 hover:underline active:underline">About Me</a>
        <a class="hover:text-yellow-900 active:text-yellow-900 hover:underline active:underline">Skills</a>
        <a class="hover:text-yellow-900 active:text-yellow-900 hover:underline active:underline">Portfolio</a>
    </div>
    <div class="flex space-x-10 justify-end ">
        <a>icon</a>
        <a>icon</a>
        <a>icon</a>
    </div>
</div>