.back {
    height: 1024px;
    width: 1015.5px;
    left: 424.5px;
    top: 0px;
    border-radius: 0px;
    position: absolute;
    left: 29.48%;
    right: 0%;
    bottom: 0%;
    background: #000000;
}